h2 {
    text-align: center;
    margin-bottom: 20px;
}
.article-list {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}
.icon-slide {
    text-align: center;
    margin-bottom: 20px;
}
.svg1 {
    margin-right: 10px;
}
.svg2 {
    margin-left: 10px;
}
svg:hover {
    cursor: pointer;
}