.search-notification-container {
    width: 100%;
    min-height: 74px;
    background-color: #A9161C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}