
<!-- <div class="card" style="width: 26rem;" *ngIf="news">
    <img class="card-img-top" src="../../assets/content-images/tuyensinh.jpg" alt="Card image cap">
    <div class="card-body card-body-custom">
      <h5 class="card-title">Nội dung</h5>
      <p class="card-text card-text-custom">{{news.content}}</p>
      <a href="#" class="btn btn-primary">Xem chi tiết</a>
    </div>
  </div> -->
  <div >
    <p>{{news.content}}</p>
  </div>
