.card-text-custom {
    height: 48px;
    overflow: hidden;
}

.card-body-custom {
    background-color: #F4E9E9;
}

.w3-third {
    float: left;
    width: 100%;
}

@media (min-width: 601px ) {
    .w3-third {
        width: 33.3333%;
    }
}