
.custom-navbar {
    padding-left: 32px;
    padding-right: 32px;
    background-color: #A9161C;
}

.main-container {
    width: 100%;
    background: white;
}

.custom-footer {
    background-color: #A9161C;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: -56px;
}