
<!-- Thông báo và tìm kiếm -->
<nav class="navbar navbar-light custom-navbar">
    <app-notification></app-notification>
    <app-search></app-search>
</nav>
<!-- Thanh menu -->
<div>
    <app-header-menu></app-header-menu>
</div>
<!-- Nội dung page -->
<main class="main-container">
    <router-outlet></router-outlet>
</main>
<!-- footer -->
<div class="custom-footer"> 
    <app-footer></app-footer>
</div>
