h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.slide{
    padding: 10px 10px;
    border-right: 1px solid #e0e0e0;
    margin-right: 20px;
    background-color: rgb(227, 230, 211);
    height: 450px;
    margin-top: 20px;
}
.tin-tuc{
    background-color: #eee5e5;
}
