
<h2>Tin tức, sự kiện nổi bật</h2>
<div class="tin-tuc">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of AllNews">
            <div class="slide">
                <h4 class="title"><b>{{item.title}}</b></h4>
                <figure>
                    <img src="assets/news-images/{{item.thumbnail}}" height="200" />
                </figure>     
                <span class="date">{{item.create_date}}</span>
            <br>
                <p class="info">{{item.short_description}}</p>
                <button (click)="newDetails(item.id)" class="btn btn-info">Xem chi tiết</button>
            </div>
        </ng-template>
    
    </owl-carousel-o>
</div>