<div class="menu custom-menu">
    <ul class="nav">
        <li class="nav-item"><img src="../../assets\images\logo\logo DTU.jpg" alt="logo dtu" style="height: 100%;"></li>
        <li class="nav-item"><a href="" class="nav-link text-white" routerLink="/">Trang chủ</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white" routerLink="about">Về Duy Tân</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white" routerLink="news-event">Tin tức sự kiện</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white" routerLink="tuition">Học phí</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white" routerLink="study">Học tập</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white" routerLink="contact">Liên hệ</a></li>
        <li class="nav-item"><a href="" class="nav-link text-white" routerLink="account-management">Quản lí tài khoản</a></li>
        <li class="nav-item last-child" style="color: #fff;">{{currentUser}}</li>
    </ul>
</div>
