.menu {
    display: flex;
    width: 100%;
    height: 74px;
    background-color: #E11010;
}
.nav {
    width: 100%;
    
}
.nav-item {
    display: flex;
    align-items: center;
    width: calc(100%/9);
    height: 100%;
    font-size: 16px;
    border-right: 1px solid white;
}
.last-child {
    border-right: 0px;
    display: flex;
    justify-content: center;
}
.nav-item:hover {
    background-color: #636e72;
}
img {
    width: 100%;
}
a {
    width: 100%;
    text-align: center;
}