div {
    display: flex;
    align-items: center;
}
p {
    color: white;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}
strong {
    display: inline-block;
    font-size: 22px;
    animation-name: text-hover;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes text-hover {
    0% {
        color: #a4b0be;
        }
        50% {
        color: #ced6e0;
        }
        100% {
        color: #f1f2f6;
        }
}
p:hover {
    cursor: pointer;
}

svg {
    display: block;
    color: #fff;
}