<!-- Thông tin nổi bật -->
<app-banner></app-banner>   

<!--about dtu list component-->
<app-dtu-content-list></app-dtu-content-list>

<!-- news, event -->
<app-news-event-list></app-news-event-list>
  

