.content-box {
    max-width: 456px;
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #F4E9E9;
    height: 186px;
    
}

.description {
    height: 48px;
    overflow: hidden;
}