
<div class="card" style="width: 26rem;" *ngIf="article">
    <img class="card-img-top" src="../../assets/content-images/Login background.jpg" alt="Card image cap">
    <div class="card-body card-body-custom">
      <h5 class="card-title">Nội dung</h5>
      <p class="card-text card-text-custom">{{article.content}}</p>
      <a href="#" class="btn btn-primary">Xem chi tiết</a>
    </div>
  </div>

