/* You can add global styles to this file, and also import other style files */
/* @import 'node_modules\ngx-owl-carousel-o\lib\styles\scss\owl.carousel.scss';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default'; */


html {
    height: 100%;
}
body {
    min-height: 100%;
    width: 100%;
    position: relative;
}
