/*footer styling*/
.footer {
    height: 66px;
    background-color: #A9161C;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -22px;
    width: 100%;
}