<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Tìm kiếm thông tin" aria-label="Search"
    aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary custom-search">Tìm kiếm</button>
</div>